<nav class="navbar is-darky is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a routerLink="/home" class="navbar-item">
        <h1 class="is-size-4">JEH</h1>
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
        data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">

      <div class="navbar-end">

        <a routerLink="/home" class="navbar-item">
          Home
        </a>

        <a routerLink="/about" class="navbar-item">
          About
        </a>

        <a routerLink="/projects" class="navbar-item">
          Projects
        </a>

        <!-- <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div> -->

      </div>
    </div>
  </div>
</nav>