<div class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="has-text-left">
          <h1 class="is-size-1">Profile</h1>
          <p class="is-size-5">
            I'm a Front End Developer. 
            <br> I love everything about building websites that people love to use.
            <br>I love using Angular and Vue and love making SPAs.
            <br>Though most of my work is done with UI, I also enjoy getting involved in design, 
            <br>back-end development and improving project workflows.
            <br>If you have time check out some of my projects.
            <br>Also, don't be afraid to shoot me a follow on my socials!
            <br>Thorugh Twitter, LinkedIn or Github
          </p>
          <a class="button is-outlined is-danger is-medium is-rounded">Checkout Projects</a>
        </div>
      </div>
    </div>
  </div>