<section>
  <div class="">
    <div class="hero is-medium is-danger is-bold">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="is-size-1">About Me</h1>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="columns">
        <div class="is-multilined">

          <div class="column is-12">
            <h1 class="is-size-3">Being a Developer</h1>
            <hr>
            <p class="is-size-5">
              As a developer, I remind myself everyday that my role in life is to “develop”. If I considered everything
              that
              I’ve ever worked on as completed, then my career title would make the least amount of sense, and should be
              changed to “finisher”. Whether it be a project that’s started or ourselves as people living day to day
              life.
              There will always be something that we need to improve. This is why I’m passionate about what I do,
              because
              everyday I get a new opportunity to learn how to better myself in my career path and my life, while
              helping
              others do the same. It’s more than a job, it’s a lifestyle.
            </p>
          </div>

          <div class="column is-12">
            <p>asd</p>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>