section#section2 {
    background-color: whitesmoke;
    padding: 10px 0;

    div.column {

        h1.lowerLine {
            padding-bottom: 25px;
            border-bottom: dashed #444 2px;
        }

        p {
            padding-top: 25px;
        }
    }

}

.mtb-1 {
    margin-top: 25px;
    margin-bottom: 25px;
}
