<div class="conX">
</div>

<div class="container">
  <div class="columns is-multiline">

    <div class="column is-12">
      <h1 class="is-size-3">Who am I?</h1>
      <hr>
      <p class="is-size-4">Honestly, just a guy who loves to create and code things.</p>
      <p class="is-size-4">Pretty much just learning and studying every chance that I get.</p>
    </div>

  </div>
</div>

<div class="hero is-dark">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="is-size-4">Shoot me a Follow</h1>
    </div>
  </div>
</div>