<div class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="has-text-centered">
        <h1 class="is-size-1">Jareem E. Hoff</h1>
        <p class="is-size-5">Front End / UI Developer</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="columns is-multiline">

    <div class="column is-12">
      <h1 class="is-size-3">Who am I?</h1>
      <hr>
      <p>Honestly, I've been trying to that questions for a long time and to this day I still don't know. What I do
        know, is that I'm a very curious person who loves to learn. Obviously, there's a lot more to it than that, but
        if I went into it there wouldn't be enough room on this page to explain it. All you need to know is I'm
        confident in what I do know because I learned it and I'm confident in what I don't know because I can learn it.
        Currently I'm working on a way to share some of this knowledge with anyone else that would like to learn a long
        with me through youtube! Will hopefully have everything ready to go soon.~</p>
    </div>

  </div>
</div>

<div class="hero is-dark">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="is-size-4">Shoot me a Follow</h1>
    </div>
  </div>
</div>