div.conX {
    height: 100vh;
    width: auto;
    
    background:  url(../../../assets/images/SVG/bg-image.svg) no-repeat;
    background-size: cover;
    padding-top: 502px;
    padding-bottom: 1000px;
}